<ng-container>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <ng-container *ngIf="canGoBack">
        <button mat-mini-fab color="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
      </ng-container>
      <span class="example-spacer"></span>
      <span>{{title}}</span>
      <span class="example-spacer"></span>
      <ng-container *ngIf="!isProfile">
        <button mat-mini-fab color="primary" (click)="goToProfile()">
          <mat-icon>person</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>
  <div>
      <mat-progress-bar color="accent" mode="determinate" [value]="70"></mat-progress-bar>
  </div>
</ng-container>
